/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --pc-text: #000;
    --pc-text-white: #fff;
    --sc-text: #aaa;
}

/* Global styling */
html {
    font-family: 'Playfair Display', serif;
}

/* Main section */
.main-content-container {
    /* background-color: yellow; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.main-content {
    width: 50%;
    /* background-color: turquoise; */
    padding: 50px;
}

.main-content-heading {
    font-size: 50px;
}

.main-content-copy {
    font-size: 20px;
}

.main-img-container {
    width: 50%;
}

.main-button {
    width: 200px;
    height: 40px;
    background: none;
    font-size: 18px;
}

.main-img {
    width: 100%;
    padding: 50px;
}

#arrow {
    width: 50px;
}

.art-image {
    width: 500px;
}

#results-container {
    display: flex;
    align-items: center;
}

#random-art {
    width: 100%;
}

#img {
    width: 500px;
    height: auto;
}

#art-container {
    display: flex;
    justify-content: space-evenly;
}

#art-title {
    text-transform: uppercase;
    font-size: 50px;
}

#date {
    font-size: 40px;
}

#title-main {
    margin: 10px 0 10px 50px;
    font-size: 30px;
}





.main-heading {
    color: var(--pc-text-white);
    text-transform: uppercase;
}

#search-input {
    width: 500px;
    height: 30px;
}


/* Navigation */
/* .nav__main {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav__main-list {
    display: flex;
    justify-content: space-between;
    width: 10%;
    list-style-type: none;
    margin-right: 50px;
} */
