* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

:root {
    --pc-text: #000;
    --sc-text: #aaa;
}

#arrow {
    width: 50px;
}

.art-image {
    width: 500px;
}

#results-container {
    display: flex;
    align-items: center;
}

#random-art {
    width: 100%;
}

#img {
    width: 500px;
    height: auto;
}

#art-container {
    display: flex;
    justify-content: space-evenly;
}

#art-title {
    text-transform: uppercase;
    font-size: 50px;
}

#date {
    font-size: 40px;
}

#title-main {
    margin: 10px;
    font-size: 30px;
}

/* main {
    height: 100vh;
} */

#main__img {
    width: 100%;
    height: 100vh;
}

#main__container {
    display: flex;
}

/* Navigation */
span {
    color: var(--sc-text);
}

#nav-main {
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%;
    margin: auto; */
}

#nav-sub {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
}

#nav-sub ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#hamburger {
    height: 30px;
    width: 40px;
    /* background-color: turquoise; */
    margin: 10px;
    position: relative;
}

#hamburger span {
    width: 100%;
    height: 5px;
    background: var(--pc-text);
    position: absolute;
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2) {
    top: 40%;
}

#hamburger span:nth-child(3) {
    bottom: 0;
}

.open {
    bottom: 10px;
    transform: rotate(45deg);
}

/* 
on click: 
    span 1 should rotate -45deg and top set at 10
    span 2 should be opacity 0
    span 3 should rotate 45deg and bottom set to 10

on close revert back to default values 

add a smooth transition effect
*/